# From: http://pkp.sfu.ca/support/forum/viewtopic.php?f=8&t=3546
# Extended: http://pkp.sfu.ca/support/forum/viewtopic.php?f=2&t=2616
# Recreated on: 20131114-3523

AcceptPathInfo On

RewriteEngine On

RewriteBase /

RewriteEngine On
RewriteRule ^robots.txt$ /robots.txt.php


# Rules for magazine newSite1
RewriteRule ^newSite1$ newSite1/
RewriteRule ^newSite1/(.*)$ ojs-newSite1/index.php/newSite1/$1 [L,QSA]
RewriteRule ^ojs-newSite1/newSite1/(.*)$ ojs-newSite1/index.php/newSite1/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ojs-newSite1/(.*)$ ojs-newSite1/index.php/index/$1 [L]
