# From: http://pkp.sfu.ca/support/forum/viewtopic.php?f=8&t=3546
# Extended: http://pkp.sfu.ca/support/forum/viewtopic.php?f=2&t=2616
# Recreated on: 20130220

AcceptPathInfo On

RewriteEngine On

RewriteBase /

RewriteEngine On
RewriteRule ^robots.txt$ /robots.txt.php


# Rules for magazine test3
RewriteRule ^test3$ test3/
RewriteRule ^test3/(.*)$ ojs-test3/index.php/test3/$1 [L,QSA]
RewriteRule ^ojs-test3/test3/(.*)$ ojs-test3/index.php/test3/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ojs-test3/(.*)$ ojs-test3/index.php/index/$1 [L]

# Rules for magazine firstojs
RewriteRule ^firstojs$ firstojs/
RewriteRule ^firstojs/(.*)$ ojs-firstojs/index.php/firstojs/$1 [L,QSA]
RewriteRule ^ojs-firstojs/firstojs/(.*)$ ojs-firstojs/index.php/firstojs/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ojs-firstojs/(.*)$ ojs-firstojs/index.php/index/$1 [L]
